@import 'fonts';
@import 'variables';
@import 'components/components';
@import 'sections/sections';

//.container {
//  max-width: 1200px;
//  margin: 0 auto;
//  text-align: center;
//  width: 100%;
//  height: 90%;
//}
.container {
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #ffeb3b;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

a:after {
  background-color: #fff;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.navbar a:hover:after {
  width: 100%;
}


.nav-link {

  font-family: 'Poppins-SemiBold', '﻿Courier', '﻿AdobeInvisFont', sans-serif;
  color: #fff;
}

.nav-link.active {
  color: #ffffff;
}


