.header{
  background-color: #363636;
}
.header a {
  color: white;
}
.header a:hover{
  text-decoration: underline;
}

.number-phone {
  color: #D8D8D8;
  font-size: 17px;
}
.pos-l{
  margin-left: 49px;
}
.pos-l{
  margin-right: 82px;
}

