<!--navbar with menu-->
<div class="navs">
    <div class="container">
        <div class="row bg-dark justify-content-center" style="height: 54px;">
            <div class="col-xs-6 justify-content-start pos">
                <ul class="nav justify-content-center align-items-center text-white">
                    <li class="nav-item">
                        <span class="nav-link text-white">USD</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-white">English</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 justify-content-end">
                <ul class="nav justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <i class="fas fa-user mr-1 " style="font-size:15px"></i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <i class="fas fa-lock mr-1" style="font-size:14px"></i>Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<header class="header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xs-5 justify-content-start">
                <a href="#" class="number-phone font-weight-bold text-white text-center ">2300-3560-222</a></div>
            <div class="col-xs-5 justify-content-center pos-l pos-r marg-t">
                <img src="../img/Layer%201@1X.png" alt="logo"></div>
            <div class="col-xs-2 justify-content-end text-center">
                <a href="#" class="">
                    <img class="rounded" src="../img/Rectangle 2 copy 4@1X.png" alt="bucket-meter">
                    <div class="rounded-circle bg-dark text-white"></div>
                </a>
            </div>
        </div>
    </div>
</header>